---
import { fnGetConfigAppObj, fnInitApp } from "../InitApp";

// init app
await fnInitApp();

const configApp = fnGetConfigAppObj();
const domainName = configApp.SITE_DOMAIN_LINKS;

---

<aside class="lg:flex lg:flex-col lg:w-1/6 lg:mt-6">
  <div class="sticky top-2 w-11/12 ml-3">
    <h3 class="text-zinc-600 text-center text-lg font-sans font-bold mb-4">
      Te puede Interesar
    </h3>
    <ul>
      <li class="flex flex-col text-sm font-semibold text-black">
        <a href={domainName+'/mejores-tendederos-de-ropa'} class="bg-yellow-300 p-2 mb-2 transition duration-100 hover:bg-yellow-400">
          Mejores tendederos
        </a>
      </li>
      <li class="flex flex-col text-sm font-semibold text-black">
        <a href={domainName+'/tendederos-de-ropa-economicos'} class="bg-yellow-300 p-2 mb-2 transition duration-100 hover:bg-yellow-400">
          Los mas económicos
        </a>
      </li>
      <li class="flex flex-col text-sm font-semibold text-black">
        <a href={domainName+'/modernos'} class="bg-yellow-300  p-2 mb-2 transition duration-100 hover:bg-yellow-400">
          Modernos
        </a>
      </li>
      <li class="flex flex-col text-sm font-semibold text-black">
        <a href={domainName+'/promociones'} class="bg-yellow-300  p-2 mb-2 transition duration-100 hover:bg-yellow-400">
          Promociones
        </a>
      </li>
    </ul>
  </div>
</aside>