---

// components
import MainLayout from '../../layouts/MainLayout.astro';
import IntroImageComponent from '../../app/html-intro-image-component/IntroImageComponent.astro';
import AsideSubMenuComponent from '../../app/html-aside-sub-menu-component/AsideSubMenuComponent.astro';
import AsideInterestComponent from '../../app/html-aside-interest-component/AsideInterestComponent.astro';
import ProductsClusterComponent from '../../app/html-products-cluster-component/ProductsClusterComponent.astro';
import BodyMenuComponent from '../../app/html-body-menu-component/BodyMenuComponent.astro';
import ProductPlusVideoComponent from '../../app/html-product-plus-video/ProductPlusVideo.astro';

// logic and common module
import { fnGetConfigAppObj, fnInitApp } from '../../app/InitApp';
import CommonModule from '../../app/server-common-module/Common.module';
import type { ProductType } from '../../app/server-common-module/domain/types/Product.types';

// init app
await fnInitApp();
const fnGetProductSummaryList = CommonModule().fnGetProductSummaryList;
const fnGetProductListForEachId = CommonModule().fnGetProductListForEachId;
const fnFetchProductListByOnePage = CommonModule().fnFetchProductListByOnePage;
const fnFetchProductLisByAllPages = CommonModule().fnFetchProductLisByAllPages;
const fnAddDescripcionToImages = CommonModule().fnAddDescripcionToImages;
const fnAddTitleToImages = CommonModule().fnAddTitleToImages;
const fnHttpCall = CommonModule().fnHttpCall;
const configApp = fnGetConfigAppObj();

// get all products

const productList: ProductType[] = await fnFetchProductLisByAllPages(1,1,configApp,fnHttpCall,fnFetchProductListByOnePage,[]);

// keywords

/**
 * 
 * max: 140 characters
 * 
 * PRODUCT_ID - KEYWORDS
 * 51, 28     tendedero de balc贸n
 * 51, 28     tendedero para balc贸n
 * 23, 37     tender balc贸n
 * 23, 37     tender colgante para balc贸n
 * 36, 24     colgador de ropa para balc贸n
 * 36, 32     tendedero ropa balc贸n
 * 31, 32     tendedero de ropa balc贸n
 * 31, 27     colgador ropa balc贸n
 * 29, 27, 49 tendederos de ropa para balc贸n
 * 
 */

 // video products

const keywordsProductId51 = new Map([
  [51,'Tendedero de balc贸n, tendedero para balc贸n cogado de una barandilla y con rejillas para sostener ropa'],
]);

const keywordsProductId23 = new Map([
  [23,'tender colgante para balc贸n, tender balc贸n con montaje de pared, en forma de brazo con tres partes plegables'],
]);

const productId51 = fnGetProductListForEachId([51],productList);
let productId51Summary = fnGetProductSummaryList(productId51)(configApp);
productId51Summary = fnAddDescripcionToImages(productId51Summary, keywordsProductId51);

const productId23 = fnGetProductListForEachId([23],productList);
let productId23Summary = fnGetProductSummaryList(productId23)(configApp);
productId23Summary = fnAddDescripcionToImages(productId23Summary, keywordsProductId23);

const keywordsDescriptionForImages = new Map([
  [36,'Colgador de ropa para balc贸n, tendedero ropa balc贸n, montado en la pared, con 3 varillas sosteniendo una camisa gris, una blanca y una roja'],
  [31,'Tendedero de ropa balc贸n, colgador ropa balc贸n, montado en la pared, con 8 varillas sosteniendo una tres camisas de mujer'],
  [28,'Tendedero de balc贸n, tendedero para balc贸n, montado en la pared con 5 varillas, de color blanco sosteniendo varias prendas'],
  [37,'Tender colgante para balc贸n, tender balc贸n, montado en la pared, con varillas y longitud que se expande jalando de la pared'],
  [24,'Colgador de ropa para balc贸n, de montaje en pared, en forma de U cuadrada, y los brazos laterales se cierran y abren en la im谩gen'],
  [32,'Tendedero de ropa balc贸n, tendedero ropa balc贸n, con montaje de pared, en forma de brazo con tres partes plegables'],
  [29,'Tendederos de ropa para balc贸n, de color plateado, montado en la pared, con varillas y longitud que se expande jalando de la pared'],
  [27,'Tendederos de ropa para balc贸n, colgador ropa balc贸n, montado en la pared, con 8 varillas sosteniendo 4 toallas de diferentes colores'],
  [49,'Tendederos de ropa para balc贸n, de forma circular que contiene dos l铆neas para colgado de ropa que se halan hasta 15 metros para colgar ropa'],
]);

// images, rest of products, 

const idListProduct = [36,31,28,37,24,32,29,27,49];
const similarProducts = fnGetProductListForEachId(idListProduct,productList);
let similarProductsSummaryList = fnGetProductSummaryList(similarProducts)(configApp);
similarProductsSummaryList = fnAddDescripcionToImages(similarProductsSummaryList, keywordsDescriptionForImages);


---

<MainLayout page="ubicacion-balcon">
  <main class="pt-20 lg:pt-0">
    <IntroImageComponent page="ubicacion-balcon"/>
    <br>
    <br>
    <div class="flex flex-col lg:flex-row">
      <AsideSubMenuComponent category="Ubicaci贸n" subCategoryName="Para balc贸n" />
      <section class="text-gray-800 font-mono w-11/12 m-auto lg:w-2/3">
        <div class="grid lg:grid-cols-2 gap-8">
					<ProductPlusVideoComponent products={productId51Summary}/>
					<ProductPlusVideoComponent products={productId23Summary}/>
				</div>
        <br>
				<br>
        <br>
        <br>
        <h2 class="text-3xl lg:text-4xl text-zinc-600 text-center font-sans font-bold">
					Encuentra m谩s productos relacionados con tendedero para balc贸n
				</h2>
        <br>
				<br>
        <br>
        <br>
        <ProductsClusterComponent products={similarProductsSummaryList}/>
        <h3 class="text-3xl lg:text-4xl text-zinc-600 text-center font-sans font-bold lg:mt-6">
					驴 No encuentras el modelo ideal ?
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-base lg:text-lg font-mono font-medium lg:w-3/4 text-center m-auto bg-yellow-100 p-5 lg:p-10 rounded-md">
          Nuestro men煤 principal te puede ofrecer una gran variedad de opciones, rev铆salo :) 
        </p>
        <br>
        <br>
        <BodyMenuComponent />
        <br>
        <br>
      </section>
      <AsideInterestComponent />
    </div>
  </main>
</MainLayout>

