---

// components
import MainLayout from '../../layouts/MainLayout.astro';
import IntroImageComponent from '../../app/html-intro-image-component/IntroImageComponent.astro';
import AsideSubMenuComponent from '../../app/html-aside-sub-menu-component/AsideSubMenuComponent.astro';
import AsideInterestComponent from '../../app/html-aside-interest-component/AsideInterestComponent.astro';
import ProductsClusterComponent from '../../app/html-products-cluster-component/ProductsClusterComponent.astro';
import BodyMenuComponent from '../../app/html-body-menu-component/BodyMenuComponent.astro';

// logic and common module
import { fnGetConfigAppObj, fnGetStateAppObj, fnInitApp } from '../../app/InitApp';
import CommonModule from '../../app/server-common-module/Common.module';

// init app
await fnInitApp();

const fnFilterProductByCategoryAndSubcategory = CommonModule().fnFilterProductByCategoryAndSubcategory;
const fnGetProductsSummary = CommonModule().fnGetProductsSummary;
const configApp = fnGetConfigAppObj();
const stateAppObj = fnGetStateAppObj();
const domainName = configApp.SITE_DOMAIN_LINKS;
const resultFiltered = fnFilterProductByCategoryAndSubcategory('Ubicación')('Para balcon')(stateAppObj.products);
const productsSummaryObj = fnGetProductsSummary(resultFiltered)(configApp);
const productsSummaryFirst = productsSummaryObj.slice(0,6);
const productsSummarySecond = productsSummaryObj.slice(6,12);
const productsSummaryThird = productsSummaryObj.slice(12,18);
const productsSummaryFourth = productsSummaryObj.slice(18);

---

<MainLayout page="ubicacion-balcon">
  <main class="pt-20 lg:pt-0">
    <IntroImageComponent page="ubicacion-balcon"/>
    <br>
    <br>
    <div class="flex flex-col lg:flex-row">
      <AsideSubMenuComponent category="Ubicación" subCategoryName="Para balcon" />
      <section class="text-gray-800 font-mono w-11/12 m-auto lg:w-2/3">
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					Optimiza tu espacio al aire libre con un Tendedero de Balcón Funcional
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          ¿Te preguntas cómo aprovechar al máximo tu balcón? Descubre la versatilidad del tendedero de 
          balcón y transforma tu espacio exterior en un área organizada y práctica para el secado 
          de ropa.
        </p>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Nuestros tendederos para balcones ofrecen soluciones ingeniosas para tender la 
          ropa de manera eficiente, ¡haciendo que tu balcón sea tan funcional como elegante!
        </p>
        <br>
        <br>
        <ProductsClusterComponent products={productsSummaryFirst}/>
        <br>
        <br>
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					Elegancia y Eficiencia: Tendederos Colgantes para Balcones con Estilo
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Imagina un balcón que no solo es un lugar para disfrutar del aire fresco, sino también 
          un espacio donde la funcionalidad se encuentra con el diseño. Nuestros colgadores de 
          ropa para balcones no solo son prácticos, sino que también añaden un toque de elegancia. 
        </p>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Descubre cómo un tendedero colgante para balcón puede convertirse en la solución perfecta 
          para tus necesidades de secado sin comprometer el estilo.
        </p>
        <br>
        <br>
        <ProductsClusterComponent products={productsSummarySecond}/>
        <br>
        <br>
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					Tendederos de Balcón Grandes: La Solución Espaciosa para Secar tu Ropa
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          ¿Necesitas un tendedero espacioso para tu balcón? Explora nuestra gama de tendederos 
          de balcón grandes diseñados para adaptarse a tus necesidades.
        </p>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Con opciones versátiles y colgadores de ropa específicamente diseñados para balcones, 
          podrás disfrutar de la comodidad de secar tu ropa al aire libre sin sacrificar espacio. 
          Transforma tu balcón en un área de secado eficiente y estilizada.
        </p>
        <br>
        <br>
        <ProductsClusterComponent products={productsSummaryThird}/>
        <br>
        <br>
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					Colgadores de Ropa para Balcones: Organización y Estilo al Aire Libre
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Descubre cómo los colgadores de ropa para balcones pueden ser la clave para mantener 
          tu espacio ordenado y lleno de estilo.
        </p>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Con opciones que van desde tendederos colgantes hasta colgadores de ropa para balcones 
          más amplios, encontrarás la solución perfecta para secar tu ropa al sol mientras mantienes 
          la elegancia de tu espacio al aire libre.
        </p>
        <br>
        <br>
        <ProductsClusterComponent products={productsSummaryFourth}/>
        <br>
        <br>
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					¿ No encuentras el modelo ideal ?
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Nuestro menu principal te puede ofrecer una gran variedad de opciones, revisalo :)
        </p>
        <br>
        <br>
        <BodyMenuComponent />
        <br>
        <br>
      </section>
      <AsideInterestComponent />
    </div>
  </main>
</MainLayout>

