---

// components
import MainLayout from '../../layouts/MainLayout.astro';
import IntroImageComponent from '../../app/html-intro-image-component/IntroImageComponent.astro';
import AsideSubMenuComponent from '../../app/html-aside-sub-menu-component/AsideSubMenuComponent.astro';
import AsideInterestComponent from '../../app/html-aside-interest-component/AsideInterestComponent.astro';
import ProductsClusterComponent from '../../app/html-products-cluster-component/ProductsClusterComponent.astro';
import BodyMenuComponent from '../../app/html-body-menu-component/BodyMenuComponent.astro';

// logic and common module
import { fnGetConfigAppObj, fnInitApp } from '../../app/InitApp';
import CommonModule from '../../app/server-common-module/Common.module';
import type { ProductType } from '../../app/server-common-module/domain/types/Product.types';

// init app
await fnInitApp();
const fnGetProductSummaryList = CommonModule().fnGetProductSummaryList;
const fnGetProductListForEachId = CommonModule().fnGetProductListForEachId;
const fnAddDescripcionToImages = CommonModule().fnAddDescripcionToImages;
const fnHttpCall = CommonModule().fnHttpCall;
const configApp = fnGetConfigAppObj();

const idListProduct = [45,43,44];
const similarProducts = await fnGetProductListForEachId<ProductType>(idListProduct,configApp)(fnHttpCall);
let similarProductsSummaryList = fnGetProductSummaryList(similarProducts)(configApp);


---

<MainLayout page="ubicacion-techo">
  <main class="pt-20 lg:pt-0">
    <IntroImageComponent page="ubicacion-techo"/>
    <br>
    <br>
    <div class="flex flex-col lg:flex-row">
      <AsideSubMenuComponent category="Ubicación" subCategoryName="Para techo" />
      <section class="text-gray-800 font-mono w-11/12 m-auto lg:w-2/3">
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					Optimiza tu Espacio: Tendedero de Techo para Ropa Elegante y Funcional
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Transforma tu hogar con nuestro tendal suspendido del techo. Con un diseño innovador, 
          este tendedero no solo ahorra espacio, sino que también agrega un toque de estilo a tu espacio. 
        </p>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Descubre la comodidad de secar tu ropa de manera eficiente y estilizada con nuestro 
          tendal de techo. ¡Haz de tu techo una solución práctica y moderna para el secado de ropa!
        </p>
        <br>
        <br>
        <ProductsClusterComponent products={similarProductsSummaryList}/>
        <br>
        <br>
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					¿ No encuentras el modelo ideal ?
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Nuestro menu principal te puede ofrecer una gran variedad de opciones, revisalo :)
        </p>
        <br>
        <br>
        <BodyMenuComponent />
        <br>
        <br>
      </section>
      <AsideInterestComponent />
    </div>
  </main>
</MainLayout>

