---

// components
import MainLayout from '../../layouts/MainLayout.astro';
import IntroImageComponent from '../../app/html-intro-image-component/IntroImageComponent.astro';
import AsideSubMenuComponent from '../../app/html-aside-sub-menu-component/AsideSubMenuComponent.astro';
import AsideInterestComponent from '../../app/html-aside-interest-component/AsideInterestComponent.astro';
import ProductsClusterComponent from '../../app/html-products-cluster-component/ProductsClusterComponent.astro';
import BodyMenuComponent from '../../app/html-body-menu-component/BodyMenuComponent.astro';

// logic and common module
import { fnGetConfigAppObj, fnGetStateAppObj, fnInitApp } from '../../app/InitApp';
import CommonModule from '../../app/server-common-module/Common.module';

// init app
await fnInitApp();

const fnFilterProductByCategoryAndSubcategory = CommonModule().fnFilterProductByCategoryAndSubcategory;
const fnGetProductsSummary = CommonModule().fnGetProductsSummary;
const configApp = fnGetConfigAppObj();
const stateAppObj = fnGetStateAppObj();
const domainName = configApp.SITE_DOMAIN_LINKS;
const resultFiltered = fnFilterProductByCategoryAndSubcategory('Tipos de prendas')('Camisas')(stateAppObj.products);
const productsSummaryObj = fnGetProductsSummary(resultFiltered)(configApp);

---

<MainLayout page="tipos-de-prendas-camisas">
  <main class="pt-20 lg:pt-0">
    <IntroImageComponent page="tipos-de-prendas-camisas"/>
    <br>
    <br>
    <div class="flex flex-col lg:flex-row">
      <AsideSubMenuComponent category="Tipos de prendas" subCategoryName="Camisas" />
      <section class="text-gray-800 font-mono w-11/12 m-auto lg:w-2/3">
        <br>
				<br>
        <ProductsClusterComponent products={productsSummaryObj}/>
				<br>
				<br>
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					¿ No encuentras el modelo ideal ?
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Nuestro menu principal te puede ofrecer una gran variedad de opciones, revisalo :)
        </p>
        <br>
        <br>
        <BodyMenuComponent />
        <br>
        <br>
      </section>
      <AsideInterestComponent />
    </div>
  </main>
</MainLayout>

