---

import CommonModule from "../server-common-module/Common.module";
import { fnGetConfigAppObj, fnGetStateAppObj } from "../InitApp";

// props
const { page } = Astro.props;

// data
const fnFilterIntroImageByPage = CommonModule().fnFilterIntroImageByPage;
const getIntroImageSummary = CommonModule().fnGetIntroImageSummary;
const configAppObj = fnGetConfigAppObj();
const stateAppObj = fnGetStateAppObj();
const domainName = configAppObj.SITE_DOMAIN_LINKS;
const introImageObj = stateAppObj.introImages;
const introImageFilteredObj = fnFilterIntroImageByPage(page)(introImageObj);
const introImageSummaryObj = getIntroImageSummary(introImageFilteredObj)(configAppObj);

---

<section class="flex flex-col pt-3 lg:grid-cols-2 items-center lg:pb-0">
  <h1 class="w-11/12 m-auto font-sans font-bold text-center text-zinc-600 text-4xl lg:text-6xl">
    {introImageSummaryObj.alt}
  </h1>
  <h2 class="w-11/12 m-auto font-mono text-lg text-center text-zinc-700 mt-7">
    {introImageSummaryObj.description}
  </h2>
</section>
