---

// components
import MainLayout from '../layouts/MainLayout.astro';
import IntroImageComponent from '../app/html-intro-image-component/IntroImageComponent.astro';
import AsideSubMenuComponent from '../app/html-aside-sub-menu-component/AsideSubMenuComponent.astro';
import AsideInterestComponent from '../app/html-aside-interest-component/AsideInterestComponent.astro';
import BodySubMenuComponent from '../app/html-body-sub-menu-component/BodySubMenuComponent.astro';

---

<MainLayout page="tipo de prenda">
  <main class="pt-20 lg:pt-0">
    <IntroImageComponent page="tipo de prenda"/>
    <br>
    <br>
    <div class="flex flex-col lg:flex-row">
      <AsideSubMenuComponent category="Tipos de prendas" />
      <section class="text-gray-800 font-mono w-11/12 m-auto lg:w-2/3">
        <BodySubMenuComponent category="Tipos de prendas"/>
        <br>
        <br>
      </section>
      <AsideInterestComponent />
    </div>
  </main>
</MainLayout>

