---

// components
import MainLayout from '../../layouts/MainLayout.astro';
import IntroImageComponent from '../../app/html-intro-image-component/IntroImageComponent.astro';
import AsideSubMenuComponent from '../../app/html-aside-sub-menu-component/AsideSubMenuComponent.astro';
import AsideInterestComponent from '../../app/html-aside-interest-component/AsideInterestComponent.astro';
import ProductsClusterComponent from '../../app/html-products-cluster-component/ProductsClusterComponent.astro';
import BodyMenuComponent from '../../app/html-body-menu-component/BodyMenuComponent.astro';

// logic and common module
import { fnGetConfigAppObj, fnGetStateAppObj, fnInitApp } from '../../app/InitApp';
import CommonModule from '../../app/server-common-module/Common.module';

// init app
await fnInitApp();

const fnFilterProductByCategoryAndSubcategory = CommonModule().fnFilterProductByCategoryAndSubcategory;
const fnGetProductsSummary = CommonModule().fnGetProductsSummary;
const configApp = fnGetConfigAppObj();
const stateAppObj = fnGetStateAppObj();
const domainName = configApp.SITE_DOMAIN_LINKS;
const resultFiltered = fnFilterProductByCategoryAndSubcategory('Plegable')('En aluminio')(stateAppObj.products);
const productsSummaryObj = fnGetProductsSummary(resultFiltered)(configApp);
const productsSummaryFirst = productsSummaryObj.slice(0,3);
const productsSummarySecond = productsSummaryObj.slice(3,6);
const productsSummaryThird = productsSummaryObj.slice(6);


---

<MainLayout page="plegable-aluminio">
  <main class="pt-20 lg:pt-0">
    <IntroImageComponent page="plegable-aluminio"/>
    <br>
    <br>
    <div class="flex flex-col lg:flex-row">
      <AsideSubMenuComponent category="Plegable" subCategoryName="En aluminio" />
      <section class="text-gray-800 font-mono w-11/12 m-auto lg:w-2/3">
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					Tendederos Plegables de Aluminio para un Estilo Único
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Descubre la fusión perfecta de funcionalidad y estilo con los tendederos plegables de 
          aluminio. Desde el clásico tendedero de ropa plegable aluminio hasta el versátil tendedero 
          plegable de aluminio, cada opción está diseñada para añadir un toque de sofisticación.
        </p>
        <br>
				<br>
        <ProductsClusterComponent products={productsSummaryFirst}/>
				<br>
				<br>
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					Tendederos Extensibles de Aluminio para un Secado Eficiente
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Eleva tu rutina de secado con los innovadores tendederos de ropa extensibles aluminio. 
          Descubre la durabilidad y la versatilidad de opciones como el tendedero extensible aluminio, 
          diseñado para ofrecer la máxima eficiencia.
        </p>
        <br>
				<br>
        <ProductsClusterComponent products={productsSummarySecond}/>
				<br>
				<br>
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					Elige un Secador de Ropa Plegable de Aluminio para tu Hogar
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Ilumina tu espacio de secado con el eficiente secador de ropa plegable de aluminio. 
          Descubre cómo la resistencia y la ligereza se combinan en el diseño del tendedero de 
          ropa plegable en aluminio, ofreciendo una solución brillante y práctica para tu hogar.
        </p>
        <br>
				<br>
        <ProductsClusterComponent products={productsSummarySecond}/>
				<br>
				<br>
        <h3 class="text-3xl lg:text-4xl text-zinc-900 text-center font-sans font-bold">
					¿ No encuentras el modelo ideal ?
				</h3>
        <br>
        <br>
        <p class="text-zinc-800 text-lg font-mono font-thin">
          Nuestro menu principal te puede ofrecer una gran variedad de opciones, revisalo :)
        </p>
        <br>
        <br>
        <BodyMenuComponent />
        <br>
        <br>
      </section>
      <AsideInterestComponent />
    </div>
  </main>
</MainLayout>

